{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}
<h1>Modifier mon mot de passe</h1>
<hr>
- <a href="{{ path('account') }}">Retourner à mon compte</a><br>
<hr>

{# Afficher les notifications s'il y en a #}
{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {% for message in app.session.flashBag.get('success') %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('error') %}
    <div class="alert alert-danger">
        {% for message in app.session.flashBag.get('error') %}
            {{ message }}
        {% endfor %}
    </div> 
    
{% endif %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}


{% endblock %}
